streamlit==1.12.2
beautifulsoup4==4.11.1
nltk==3.8.1
newspaper3k==0.2.8
gtts==2.2.4
translate==3.6.1
requests
transformers==4.18.0
torch>=1.13.0
Pillow==9.4.0
streamlit-auth0
firebase-admin==5.2.0
httpx==0.23.0
httpx-oauth==0.15.0
sumy==0.8.0